**/__pycache__/
*.egg-info

*.log

multirun/

logs/
work-dir/
outputs/
old_files/
pretrained/
pretrained_models/
work-dir/
wandb/
results/
data/*
data
pretrained_models

**/.env
.vscode
.idea
*.ipynb
